:root {
  /* palette: --black: #333e48; --yellow: #fddc27; --green: #05cc7a; --blue: #bf41af; --grey: #dfdfdf; */
  --black: #333e48;
  --yellow: #fddc27;
  --green: #05cc7a;
  --blue: #bf41af;
  --grey: #dfdfdf;
}

body {
  color: var(--black);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1em;
  padding-bottom: 60px;
}

#custom-search .ctrl {
  background: var(--grey);
  color: white;
  /*text-align: center;*/
  margin: 20px 0;
  padding: 20px 20px;
}

.ctrl .row {
  display: flex;

  margin: 0 auto;
  position: relative;
}

#custom-search form {
  width: 100%;
}

#custom-search input[type="submit"] {
  position: absolute;
  right: 0;
  height: 38px;

  color: white;
  background-color: var(--blue);
  border: none;
}

#custom-search svg {
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 3px;
  width: 18px;
  height: 18px;
  fill: rgba(0, 0, 0, 0.6);
  -webkit-transition: all 0.3s;
  transition: all 0.3s;

  transform: translateY(-50%);
}

.tagify {
  padding: 0 21px;
  width: calc(100% - 18px);
  color: var(--black);

  --tags-focus-border-color: var(--blue);
  --tags-border-color: var(--tags-hover-border-color);
}


@media screen and (min-width: 767px) {
  .main {
    display: flex;
  }

  .main ul {
    flex-grow: 2;
  }

  .main aside {
    flex-grow: 1;
  }

  #custom-search form {
    width: 967px;
  }
}

header {
  padding: 20px;
}

header svg {
  width: 120px;
}

header h1 {
  display: inline-block;
  margin: 0;
}

.result {
  overflow-x: scroll;
  margin-bottom: 20px;
}

.result table,
.tbl {
  border-color: var(--green);
  border: 5px solid var(--green);
  margin: 0 auto;
  width: 100%;

  max-width: 967px;
  min-width: 320px;
}

.result table th, 
.result table td,
.tbl th, 
.tbl td  {
    padding: 5px;
}
.result table tr:nth-child(even),
.tbl tr:nth-child(even) {
    background: var(--grey);
}

.loading {
  text-align: center;
  display: none;
}

.loading span {
  display: inline-block;
}

/* Helper: spinner */
.lds-facebook {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}

.lds-facebook div {
  display: inline-block;
  position: absolute;
  left: 8px;
  width: 16px;
  background: var(--black);
  animation: lds-facebook 1.2s cubic-bezier(0, 0.5, 0.5, 1) infinite;
}

.lds-facebook div:nth-child(1) {
  left: 8px;
  animation-delay: -0.24s;
}

.lds-facebook div:nth-child(2) {
  left: 32px;
  animation-delay: -0.12s;
}

.lds-facebook div:nth-child(3) {
  left: 56px;
  animation-delay: 0;
}

@keyframes lds-facebook {
  0% {
    top: 8px;
    height: 64px;
  }

  50%,
  100% {
    top: 24px;
    height: 32px;
  }
}

footer {
  background: var(--yellow);
  padding: 20px;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.res-error-msg {
  position: absolute;
  width: 100%;
  text-align: center;
  background: var(--blue);
  color: white;
  padding: 20px;
  top: 0;
}

.res-error-msg button {
    right: 80px;
    position: absolute;
    border: 1px solid transparent;
}
